@use "./assets/theme" as theme;


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  @include theme.create-dark-theme();

}

.light-theme {
  @include theme.create-light-theme();
}
